@use './variables' as *;
@forward './variables';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

img {
	max-inline-size: 100%;
	block-size: auto;
}

:root {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}

body {
	font-size: 1.6rem;
	position: relative;
	background: rgb(8, 65, 75);
	background: radial-gradient(
		circle,
		rgba(8, 65, 75, 1) 0%,
		rgba(22, 36, 63, 1) 92%
	);
}

.content-home {
	padding-block-start: 12rem;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
}
