@use './variables' as *;
@forward './variables';

.header {
	background-color: transparent;
	padding: 1rem;
	position: absolute;
	inset-inline: 0;
	inset-block-start: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: $font-color;

	a {
		text-decoration: none;
		color: inherit;
		font-size: 2rem;
		text-shadow: 0 0 4px whitesmoke;
	}
}

.logo-container {
	inline-size: 50%;
	max-inline-size: 250px;

	img {
		inline-size: 100%;
	}
}

.title-container a:hover {
	text-decoration: underline;
}

.header-nav a:hover {
	text-decoration: underline;
}
