@use './variables' as *;
@forward './variables';

.character-container {
	background-color: $font-color;
	color: black;
	border-radius: 8px;
	transition: 0.3s ease-in transform;

	img {
		border-radius: 8px;
	}

	a {
		color: inherit;
		text-decoration: none;
		text-align: center;
	}
	a:hover {
		text-decoration: underline;
	}
}

.character-container:hover {
	transition: 0.3s ease-out transform;
	transform: scale(1.1);
}
